.container {
    padding: 0px 30px 0px 30px;
}
.container h1 {
    font-weight: bold;
    color: #1890ff;
}
.customer-infomation .ant-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.customer-infomation :last-child {
    margin-bottom: 0px;
}
.card-group {
    display: flex;
    margin-top: 25px;
}
.customer-infomation-card {
    flex: 1;
    margin-right: 25px;
    height: fit-content;
}
.customer-infomation-card .ant-card-head {
    background-color: #1890ff;
    color: white;
    font-weight: bold;
}
.order-card {
    flex: 2;
}
.order-card .ant-card-head {
    background-color: #1890ff;
    color: white;
    font-weight: bold;
}
.order-expand {
    padding-right: 50px;
}
.order-expand p {
    font-weight: bold;
}
