.avatar img {
  object-fit: contain;
}
.card-meta-product {
  margin-left: 238px;
}
.card-meta-product strong {
  font-size: 2em;
  color: #1890ff;
}
.card-meta-product .ant-row {
  margin-bottom: 10px;
  font-size: 1.1em;
}
.card-meta-product .ant-tag {
  font-size: 15px;
  padding: 5px;
}
